<!DOCTYPE html>
<html lang="en">
<head>

                
                


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sam quiz</title>
    <link rel="icon" href="sam_quiz_logo.png">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


    <header>

        <h1>Sam Quiz</h1>
        <a href="https://www.instagram.com/samquizhelli10/">
            <i class="fa fa-instagram" style="font: size 555vw;;"></i>
        </a>
        <div class="contact">
            <i class="fa fa-envelope"></i>
            samquizhelli10@gmail.com
        </div>
        </header>

        <nav>
            <a href="#" class="nav-link active"><i class="fa fa-home"></i>صفحه اصلی</a>

            <a href="مقاله_samquiz.pdf" class="nav-link"><i class="fa fa-tv"></i>دانلود مقاله </a>
            <a href="sign up.html" class="nav-link">ثبت نام</a>
            <img src="sam_quiz_logo.png" width="50" height="50">
            <a href="Login.html" class="nav-link">ورود</a>
            <a href="about_us.html" class="nav-link">درباره ما</a>

    
        </nav>

    <div>
        <a href="Quiz.ejs" class="first">شروع پرسش </a>
        <a href="two_player.html" class="second">طرح سوال</a>
        <a href="group_play.html" class="third">مسابقه آنلاین</a>

        <h1 class="two_player">(به زودی)</h1>
        <h1 class="que">(به زودی)</h1>
        <img src="/image_for_body.png" style="width: 100%; height: 80vh;">

    </div>
    <footer class="Footer">
        <h3 class="footer_text">Amirali Saghlatoonnia-MohamadYasin Sharafieh</h3>

    </footer>
</body>
</html>