<!DOCTYPE html>
<html lang="en">
<head>

                
                


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sam quiz</title>
<link rel="icon" href="sam_quiz_logo.png">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


<header>

<h1>Sam Quiz</h1>
<a href="https://t.me/Amirali_saghlatoonnia_1387">
<i class="fa fa-telegram" style="font: size 2vw;"></i>
</a>
<a class="main" href="https://wa.me/qr/2YX2AEGN3PFNO1">
<i class="fa fa-whatsapp" style="position: absolute;"></i>
</a>
<div class="contact">

<i class="fa fa-phone"></i>
09351833541
<i class="fa fa-envelope"></i>
helli_10
</div>




<nav>
<a href="#" class="nav-link active"><i class="fa.fa-home"></i>صفحه اصلی</a>
<a href="#" class="nav-link"><i class="fa fa-book"></i>اطلاعات</a>
<a href="#" class="nav-link"><i class="fa fa-tv"></i>نتایج بازی ها </a>
<a href="about us.html" class="nav-link">درباره ما</a>
<a href="sign up.html" class="nav-link">ورود</a>
<img src="sam_quiz_logo.png" width="50" height="50">
        
<a href="Login.html" class="nav-link">ثبت نام</a>

</nav>
<div>
<a href="making.html" class="first">طرح سوال </a>
<a href="two_player.html" class="second">مسابقه دونفره</a>
<a href="group_play.html" class="third">مسابقه گروهی</a>
<img src="image_for_body.png" width="1910" height="800">

</div>
<style>
