<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>آکادمی رباتیک ایران</title>
    <link rel="icon" href="عکس (38).jpg">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <h1>Iran robatik academy</h1>
        <a href="https://instagram.com">
            <i class="fa fa-instagram"></i>
        </a>
        <div class="contact">
            تماس با ما:
            <i class="fa fa-phone"></i>
            09945336693
            <i class="fa fa-envelope"></i>
            yasinsharaf1387@gmail.com
        </div>
    </header>
    <nav>
        <a href="#" class="nav-link active"><i class="fa.fa-home"></i>صفحه اصلی</a>
        <a href="#" class="nav-link"><i class="fa fa-book"></i>کلاس های آنلاین</a>
        <a href="#" class="nav-link"><i class="fa fa-tv"></i>نتایج بازی ها </a>
        <a href="#" class="nav-link">گالری</a>
        <a href="#" class="nav-link">درباره ما</a>
        <img src="300px-Pygame_logo.png">
        <a href="#" class="login">ورود / ثبت نام</a>

    </nav>
</body>
</html>